annotated-types==0.7.0
-e file:///D:/Projetos%20Python/py/curso_python_rockeseat/arquitetura_de_software
astroid==4.0.2
blinker==1.9.0
cfgv==3.5.0
click==8.3.1
colorama==0.4.6
dill==0.4.0
distlib==0.4.0
filelock==3.20.0
flask==3.1.2
flask-cors==6.0.1
greenlet==3.3.0
identify==2.6.15
iniconfig==2.3.0
isort==7.0.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
mccabe==0.7.0
mock-alchemy==0.2.6
nodeenv==1.9.1
packaging==25.0
platformdirs==4.5.1
pluggy==1.6.0
pre-commit==4.5.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
pylint==4.0.4
pytest==9.0.2
pytest-mock==3.15.1
pyyaml==6.0.3
ruff==0.14.8
sqlalchemy==2.0.45
tomlkit==0.13.3
typing-extensions==4.15.0
typing-inspection==0.4.2
virtualenv==20.35.4
werkzeug==3.1.4
